# Alternate Model1. Drop Application type

In this model I have dropped the 'APPLICATION TYPE' feature before defining the model. This did not improve the accuracy

## This is attempt at optimizing the model by droping Features. I am concerned that application time and Classification may be impacting the accurcy of the model. So I am going to make different models to see the impact of dropping thesee

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Drop Application Type Feature
applicant_data_df = applicant_data_df.drop(columns=['APPLICATION_TYPE'])
applicant_data_df

,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)# YOUR CODE HERE

# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)# YOUR CODE HERE

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])# YOUR CODE HERE

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,columns=enc.get_feature_names(categorical_variables))# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
encoded_df

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_df=applicant_data_df.drop(columns=categorical_variables)
encoded_df = pd.concat([numerical_df,encoded_df],axis=1)# YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']# YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])# YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE
X

,STATUS,ASK_AMT,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,CLASSIFICATION_C1000,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)# YOUR CODE HERE
X_train

,STATUS,ASK_AMT,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C0,CLASSIFICATION_C1000,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5052,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9990,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25173,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11405,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32511,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5192,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12172,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
33003,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()# YOUR CODE HERE

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)# YOUR CODE HERE

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.fit_transform(X_train) # YOUR CODE HERE
X_test_scaled = X_scaler.fit_transform(X_test)# YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])# YOUR CODE HERE

# Review the number of features
number_input_features

99

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1 # YOUR CODE HERE

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features+number_output_neurons)//2 # YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

50

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1+number_output_neurons)//2# YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

25

In [19]:
# Create the Sequential model instance
nn = Sequential()# YOUR CODE HERE

In [20]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2,activation='relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=number_output_neurons,activation='sigmoid'))

In [23]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                5000

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 6,301
Trainable params: 6,301
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6046 - accuracy: 0.6925
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5805 - accuracy: 0.7048
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5767 - accuracy: 0.7068
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7087
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7086
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7103
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7119
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7096
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5721 - accuracy: 0.7114
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5712 - accuracy: 0.7123
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5713 - accuracy: 0.7137
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5703 - accuracy: 0.7126
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7129
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5702 - accuracy: 0.7137
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7124
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5699 - accuracy: 0.7128
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7140
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5689 - accuracy: 0.7121
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5688 - accuracy: 0.7140
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5689 - accuracy: 0.7130
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5686 - accuracy: 0.7144
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5680 - accuracy: 0.7140
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5675 - accuracy: 0.7139
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5678 - accuracy: 0.7154
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5674 - accuracy: 0.7140
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5673 - accuracy: 0.7134
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5670 - accuracy: 0.7161
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7146
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7154
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7151
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7153
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7156
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7149
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7156
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7156
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7148
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5653 - accuracy: 0.7165
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5651 - accuracy: 0.7145
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7153
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5649 - accuracy: 0.7152
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5650 - accuracy: 0.7156
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7170
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7152
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7159
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7161
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5644 - accuracy: 0.7169
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7164
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7167
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5637 - accuracy: 0.7171
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5641 - accuracy: 0.7152

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5749 - accuracy: 0.7110 - 356ms/epoch - 1ms/step
Loss: 0.5748729705810547, Accuracy: 0.7110204100608826

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup_optimize1.h5') # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)